# Backend
backend/target/
backend/.mvn/
*.class
*.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Uploads folder (local file storage)
backend/uploads/
config.bat
node_modules
