@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-dark: #3B5998;
  --color-brand-light: #F8F9FB;
  --color-brand-accent: #FFD166;
  --color-brand-text: #2D3748;
  --color-brand-text-light: #718096;
}

@layer base {
  body {
    background-color: var(--color-brand-light);
    color: var(--color-brand-text);
  }
}
